<%= stylesheet_link_tag("user") %>
<div class="container">
<ul class="unorder-list">
    <li class="list-items list-profile">
    <img class="profile_img" src="/assets/profile/avator-c9bb66d5e03353a3688af24bc1d3445ffb260b0fe574e5c4cb8b7fb7edd360b1.png">
    </li>
    <li class="list-items list-desc">
    <p class="name-title"><a href="/users/1">Osman</a></p>
     <p class="quantity">Number of post
     0
     </p>
    </li>
</ul>
<ul class="unorder-list">
    <li class="list-items list-profile">
    <img class="profile_img" src="/assets/profile/avator-c9bb66d5e03353a3688af24bc1d3445ffb260b0fe574e5c4cb8b7fb7edd360b1.png">
    </li>
    <li class="list-items list-desc">
    <p class="name-title"><a href="/users/3">Yousuf</a></p>
     <p class="quantity">Number of post
     0
     </p>
    </li>
</ul>
<ul class="unorder-list">
    <li class="list-items list-profile">
    <img class="profile_img" src="/assets/profile/avator-c9bb66d5e03353a3688af24bc1d3445ffb260b0fe574e5c4cb8b7fb7edd360b1.png">
    </li>
    <li class="list-items list-desc">
    <p class="name-title"><a href="/users/2">Osman</a></p>
     <p class="quantity">Number of post
     3
     </p>
    </li>
</ul>
</div>