<%= stylesheet_link_tag("user") %>
<div class="container">
<h1>Users List</h1>
  <% @users.each do |user| %>
<ul class="unorder-list">
    <li class="list-items list-profile">
    <%= image_tag("profile/#{user.photo}", class: "profile_img") %>
    </li>
    <li class="list-items list-desc">
    <p class="name-title"><%= link_to user.name, user %></p>
     <p class="quantity">Number of post
     <%= user.posts_counter %>
     </p>
    </li>
</ul>
  <% end %>
</div>