<%= stylesheet_link_tag("user") %>
<div class="container">
<ul class="unorder-list">
    <li class="list-items list-profile">
    <img class="profile_img" src="/assets/profile/avator-c9bb66d5e03353a3688af24bc1d3445ffb260b0fe574e5c4cb8b7fb7edd360b1.png">
    </li>
    <li class="list-items list-desc">
    <p class="name-title"><a href="/users/2">Osman</a></p>
     <p class="quantity">Number of post
     3
     </p>
    </li>
</ul>
<ul class="unorder-list">
    <li class="list-items list-content">
    <h3>Bio</h3>
    <p class="name-title">Lecture at Mit</p>
    </li>
</ul>
    <ul class="unorder-list">
    <li class="list-items list-content">
    <p class="post-title"> <a href="/users/1/posts">Laravel</a></p>
    <p class="name-title">Hi Laravel</p>
    <p class="quantity">
     comments:4
     Likes:2
     </p>
    </li>
    </ul>
    <ul class="unorder-list">
    <li class="list-items list-content">
    <p class="post-title"> <a href="/users/2/posts">Rails</a></p>
    <p class="name-title">Hi Rails</p>
    <p class="quantity">
     comments:0
     Likes:0
     </p>
    </li>
    </ul>
    <ul class="unorder-list">
    <li class="list-items list-content">
    <p class="post-title"> <a href="/users/3/posts">React</a></p>
    <p class="name-title">Hi React</p>
    <p class="quantity">
     comments:3
     Likes:0
     </p>
    </li>
    </ul>
</div>