<%= stylesheet_link_tag("user") %>
<div class="container">
    <ul class="unorder-list">
    <li class="list-items list-content">
    <div class="post-details">
    <p class="post-title"> Laravel</p>
    <p class="quantity">
     comments:4
     Likes:2
     </p>
    </div>
    <p class="name-title">Hi Laravel</p>
    </li>
    </ul>
    <ul class="unorder-list">
    <li class="list-items list-content">
    <p class="name-title">
    Osman : good luck </p>
    <p class="name-title">
    Osman : Hi I am Rails </p>
    <p class="name-title">
    Osman : Hi I am Laravel </p>
    <p class="name-title">
    Osman : Hi I am React </p>
      </li>
</ul>
</div>