/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.horizon {
  display: flex;
  padding: 10px;
  border-top: #20538d 1px solid;
}

.btn-signout {
  margin-left: 10px;
  border: solid 1px #20538d;
  border-radius: 4px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4),
    0 1px 1px rgba(0, 0, 0, 0.2);
  background: #4479ba;
  color: #fff;
  padding: 8px 12px;
}

.list-comments form {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-destroy {
  display: flex;
  justify-content: flex-end;
}

.btn-destroy {
  background-color: #f00e0e;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
